#php_flaq display_errores on
#php_value error_erporting 9999

RewriteEngine On
#RewriteBase /name progect/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?url=$1 [QSA,PT,L]
